#routeList {
    list-style: none;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    grid-auto-flow: row dense;
    text-align: center;
    border-style: outset;
    font-size: 30px;
    border-color: #999999;
    font-weight: 700;
    font-style: normal;
    justify-content: space-evenly; 
}